Proposed resolution:

OLD: When HTTPS is used, TLS certificates MUST be checked according to [RFC2818]. 

NEW: When HTTPS is used, TLS certificates MUST be checked according to [RFC2818]. 
NEW: See [RFC7525] for additional TLS recommendations.      

Rationale:
1. RFC 7525 (BCP 195) is what contains the answers to questions like Tiru asked in point 4, in a way that is not specific to TEEP, and already has IETF consensus.  For example, section 3.1.1 of that RFC deals with TLS versions as Tiru asked about in point 4. 
2. It means we don't need to come up with TEEP-specific text, since I don't believe there's anything TEEP specific here, given that TEEP messages are secured end-to-end inside so anything really TEEP specific to say would be up in the TEEP protocol.

Fixed in draft -06

Also for reference, the interim minutes https://www.ietf.org/proceedings/interim-2020-teep-02/minutes/minutes-interim-2020-teep-02-202004060730-00 say:

> d)#10: Documented updated to refer to BCP195. RFC2818 does not refer to RFC6125. Refer to IoT device TLS considerations RFC 7925.
> AI on Tiru to follow-up with Mark.


Updated text does reference RFC 7925:

>    It is strongly RECOMMENDED that implementations use HTTPS.  Although
>    TEEP is protected end-to-end inside of HTTP, there is still value in
>    using HTTPS for transport, since HTTPS can provide additional
>    protections as discussed in Sections 4.4.2 and 6 of
>    [I-D.ietf-httpbis-bcp56bis].
> 
>    However, there may be constrained nodes where code space is an issue.
>    [RFC7925] provides TLS profiles that can be used in many constrained
>    nodes, but in rare cases the most constrained nodes might need to use
>    HTTP without a TLS stack, relying on the end-to-end security provided
>    by the TEEP protocol.
> 
>    When HTTPS is used, TLS certificates MUST be checked according to
>    [RFC2818], as well as [RFC6125] if PKIX certificates are used.  See
>    [BCP195] for additional TLS recommendations and [RFC7925] for TLS
>    recommandations related to IoT devices.

Fixed in -07